{% extends 'layouts/main.html' %}
{% block conteudo %}

    <form class="max-w-md mx-auto" method="post" action="{% url 'get_products' %}">
        {% csrf_token %}

        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="search_query" placeholder="Busque pelos seus produtos" value="Computador Gamer i7 16gb ssd 1tb" required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Novo Catalogo</button>
        </div>
    </form>

 <div class="bg-white">
      <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="">Catálogo de Produtos</h2>

                  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

            {% if products %}


            {% for product in products %}

                <a href="{{ product.link }}" class="group shadow-lg p-4 rounded-sm">
                    <img src="{{ product.image }}" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
                    <h3 class="mt-4 text-sm text-gray-700">{{ product.name }}</h3>
                    <p class="mt-1 text-lg font-medium text-gray-900">{{ product.price }}</p>
                    <p class="mt-1 text-lg font-medium text-gray-900">Installment: {{ product.installment }}</p>
                    <p class="mt-1 text-lg font-medium text-gray-900">Entire price: {{ product.entire_price }}</p>
                    <p class="mt-1 text-lg font-medium text-gray-900">Shipping type: {{ product.shipping_type }}</p>
                    <p class="mt-1 text-lg font-medium text-gray-900">Free shipping: {{ product.free_shipping }}</p>
                    <p class="mt-1 text-lg font-medium text-gray-900">Percentual discount: {{ product.percentual_discount }}</p>
                </a>
            {% endfor %}



    {% else %}
        <p class="mt-1 text-lg font-medium text-gray-900">Nenhum Produto Encontrado</p>

    {% endif %}

            </div>

      </div>
    </div>

{% endblock %}