<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Catalogo de Ofertas</title>
  </head>
  <body class="bg-gray-100">

  <header>

  </header>

  <main class="flex flex-col gap-4 justify-center items-center">

    {% block conteudo %}

    {% endblock %}

  </main>


  <footer>

  </footer>

  </body>
</html>